@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import LineChart
.ig
  font-family 'Roboto', sans-serif
  svg.age-year
    g.lines
      path
        fill none
        stroke #a
        stroke-width 0.5
        &.jagr
          stroke-width 2
          stroke ColorRed
        &.top5
          stroke-width 1.5
          stroke ColorBlue
        &.top25
          stroke-width 1
          stroke #88a
    g.lines
      path
        fill none
        stroke #a
        stroke-width 0.5
        &.jagr
          stroke-width 2
          stroke ColorRed
        &.top5
          stroke-width 1.5
          stroke ColorBlue
        &.top25
          stroke-width 1
          stroke #88a
        &.active
          stroke-width 2
          stroke ColorRed
    g.ending-circles
      circle
        fill #a
        &.jagr
          fill ColorRed
        &.top5
          fill ColorBlue
        &.top25
          fill #88a
        &.active
          fill ColorRed
    g.voronoi
      path
        fill transparent
        stroke none
    .axis
      line
        shape-rendering crispEdges
        stroke #8
      text
        font-size 12px
        fill #4
      &.y line
        stroke-dasharray 4, 4
        stroke #a
    .texts
    .full-text
      text
        font-size 14px
        &:first-child
          stroke rgba(255,255,255,0.9)
          stroke-width 1.5

    &.active
      g.ending-circles circle:not(.active)
      g.lines path:not(.active)
        opacity 0.2
      .texts
        opacity 0.1

  &.yearly-graph
    h1
      font-size 18px
      position absolute
      margin 0px
      top 10px
      left 70px
      span
        position relative
        &:after
            position absolute
            content ""
            width 100%
            height 1px
            bottom 0px
            left 0px
        &:first-child
          padding 1px
          border-bottom 4px solid lighten(ColorRed, 90%)
          &:after
            background ColorRed

        &:last-child
          margin-left 30px
          padding 1px
          border-bottom 4px solid lighten(ColorBlue, 90%)
          &:after
            background ColorBlue

    .select-container
      position absolute
      top 10px
      right 20px
      select
        margin-left 10px

